=render partial: "shared/content_left"

.content-right
  .content-right-edit
    .left-header
      .left-header__message1
        = @group.name
      .left-header__message2
        - @group.users.each do |users|
          = users.name
    = link_to edit_group_path(current_user) do
      .content-right-edit-btn
        .edit edit
  .messages
    = render @messages
  .wrapper
    = render partial: "shared/form"

